<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429657893773-msoki0gndnbvt1br39bb60q1f7jtljdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429657893773-msoki0gndnbvt1br39bb60q1f7jtljdq</string>
	<key>API_KEY</key>
	<string>AIzaSyBk0N21JyD73EQZiUwczJEPX1CPuGd1CMA</string>
	<key>GCM_SENDER_ID</key>
	<string>429657893773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MA.Begonya</string>
	<key>PROJECT_ID</key>
	<string>begonya-674</string>
	<key>STORAGE_BUCKET</key>
	<string>begonya-674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429657893773:ios:03754f5e0cdb0e31</string>
	<key>DATABASE_URL</key>
	<string>https://begonya-674.firebaseio.com</string>
</dict>
</plist>